@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.navlink{
  @apply p-2 px-4 mx-5 hover:text-black rounded-sm hover:bg-slate-300 hover:bg-opacity-95 transition duration-300 hover:scale-110
}
.active{
  border-bottom: 3px solid #09c;
  font-weight: 700;

}